/* google font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* global */
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(245, 248, 255, 1);
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 0%;
  text-align: left;
  color: #000;
}

.yellow {
  color: rgb(233, 90, 8);
}

p,
.list {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
}

.text-center {
  text-align: center;
}
.extra-para-style {
  width: 888px;
  text-align: center;
}

.btn-primary {
  width: 100%;
  padding: 16px 0px 16px 0px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  background-color: rgba(233, 90, 8, 1);
  border: none;
  cursor: pointer;
}

/* nav section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.menu {
  display: flex;
  gap: 48px;
}
.menu ul {
  display: flex;
  gap: 48px;
  padding: 0;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(137, 135, 161);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.home-text {
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart img {
  width: 22px;
}

.cart h5 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* hero section */
.hero {
  display: flex;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* our plants section */
.our-plants {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 120px;
}

.plants {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.clild-plants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.clild-plants img {
  width: 100%;
  height: auto;
}

.product-name {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.price {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: -18px;
}

/* plants lover section */
.plants-lover {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.img-container {
  position: relative;
}

.badge {
  position: absolute;
  width: 210px;
  height: 210px;
  right: -70px;
  top: -90px;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plants-lover-content ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Latest Deal Section */
.latest-deals {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 120px;
}

.plants-lover-grid {
  display: flex;
  gap: 28px;
  margin-top: 60px;
  width: 100%;
}

.clild-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 33%;
}
.clild-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 66%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../asset/deal-zabo.png") no-repeat center/cover;
  border-radius: 14px;
}

.inner-1 {
  padding: 65px 0px;
  width: 366px;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../asset/deal-bloom.png") no-repeat center/cover;
  background-color: rgba(0, 0, 0, 0.4);
}

.inner-2 {
  padding: 65px 0px;
  width: 366px;
  border-radius: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../asset/deal-ana.png") no-repeat center/cover;
  background-color: rgba(0, 0, 0, 0.4);
}

.plants-title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.shop {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  text-align: center;
}

.plants-title-2 {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
}

.shop-2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

/**************** responsive style *****************/
@media screen and (max-width: 576px) {
  .menu ul {
    display: none;
  }
  nav {
    padding: 16px;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }

  /* hero section */
  .hero {
    gap: 28px;
    flex-direction: column-reverse;
    padding: 28px 0 96px 0;
  }

  .hero-img {
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
  }
  p,
  .list {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
  }
  .extra-para-style {
    width: 100%;
  }

  .btn-primary {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .content {
    padding: 0 16px;
  }

  /* our plants */
  .our-plants {
    padding: 0 16px;
    margin-bottom: 96px;
  }

  .plants {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }

  .price {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  /* plants lover */
  .plants-lover {
    flex-direction: column;
    gap: 20px;
    padding: 0 16px;
    margin-bottom: 96px;
  }
  .plants-lover img {
    width: 100%;
  }
  .badge {
    display: none;
  }

  .plants-lover-content ul {
    margin-left: -16px;
  }

  /* Latest Deal Section */

  .plants-lover-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .shop-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
  }
  .plants-title-2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }

  .inner-1,
  .inner-2,
  .clild-1 {
    width: 100%;
  }

  .clild-2 {
    width: 100%;
    padding: 65px 0;
  }
  .latest-deals {
    margin-bottom: 96px;
    padding: 0 16px;
  }
}
